<section class="blog-card card mb-4">
  <div class="card-body">
    <h4 class="card-title blog-card-header">|{{blog.title}}| BY {{blog.user.name}} <h5>{{blog.createdAt}}</h5></h4>
    <section class="single-blog">
      <p class="card-text" id="post">{{blog.main}}</p>
      <button class="btn btn-success" id="edit-button" data-id="{{blog.id}}">Edit</button>
    </section>
  </div>
</section>

<section class="single-blog-comment">
  <h5>Comments:</h5>
  {{#each blog.comments as |comment|}}
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text">{{comment.text}}</p>
      <p class="card-subtitle mb-0">- {{comment.user.name}}</p>
      <p>{{comment.createdAt}}</p>
    </div>
  </div>
  {{/each}}
</section>

 <div class="form-group label-group mb-3">
      <label for="post-body" class="comment">comment:</label>
      <textarea class="form-control" cols="100" rows="5" id="comment-body" data-id="{{blog.id}}"></textarea>
    </div>
  </div>
<div class="container">
  <button class="btn btn-success m-3 create-button" id="comment-button">Comment</button>
</div>

<script src="/js/comment.js"></script>
<script src="/js/editpost.js"></script>