

<section class="blog-display">
    This is a test
{{#each blog as |blogPost|}}
<div class="blogPost" id={{blogPost.id}}>
    <h5>|<a href='blog/{{blogPost.id}}'>{{blogPost.title}}</a>| posted by : {{blogPost.user.name}}</h5>
    <p>{{blogPost.main}}</p>
    </ul>
</div>
{{/each}}
</section>